<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Reading Alert Email</h1>
    <p>
      The following customers readings are above the threshold.
      <%=@customer_names_for_alert%>
<table border="1">
  <tr>
    <th>Customer Address</th>
  </tr>

<% @customer_names_for_alert.each do |customer_name| %>
  <tr border="1">
    <td border="1" nowrap><%= customer_name %></td>
  </tr>
<% end %>
</table>


    </p>
  </body>
</html>